[submodule "init/modules/codedeploy-app-firehawk"]
	path = init/modules/codedeploy-app-firehawk
	url = https://github.com/firehawkvfx/codedeploy-app-firehawk.git
[submodule "init/modules/firehawk"]
	path = init/modules/firehawk
	url = https://github.com/firehawkvfx/firehawk.git
